/* This sets up the background image, transparency, and centers */
#backgroundImage {
  background: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0, 0.4)), url("../images/backgrounds/Background1.jpg") center center no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 0;
}

/* Sets Navbar to 100%, colors black. Padding from A tags define height */
nav {
  width: 100%;
  background-color: rgba(0,0,0,1);
}

/* sets up flexbox, removes bullet points for nav UL */
nav ul {
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  list-style: none;
  margin: 0;
}

/* Nav bar height (padding) and text decorations for nav links */
nav a {
  padding: 30px 20px;
  display: block;
  color: white;
  font-size: 1.3em;
}

/* makes active page underlined in nav bar */
nav a.active {
  text-decoration: underline;
}

/* This targets H1 and P tags, centers, and colors in white. Standard bootstrap fonts for now */
h1, p {
  color: white;
  text-align: center;
  display: inline-block;
  width: 100%;
}

h1 {
  font-size: 5em;
  padding: 50px;
  margin: 0;
}

/* This adds the bottom footer bar */
footer {
  padding: 20px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 1.3em;
  background-color: black;
  padding-bottom: 20px;
}

/* This targets footer details */
.footerText {
  font-size: .8em;
}

/* This adjusts link text size to better fit overall design */
.footerText a {
  font-size: 1em;
}
