/* This sets up the background image, transparency, and centers. JS randomly loads an image, but keeping this in case JS is disabled or stops working*/
#backgroundImage {
  background: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../images/backgrounds/Background2.jpg"), center center no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 0;
}

/* Sets Navbar to 100%, colors black. Padding from A tags define height */
nav {
  width: 100%;
  background-color: rgba(0,0,0,0.6);
}

/* sets up flexbox, removes bullet points for nav UL */
nav ul {
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  list-style: none;
  margin: 0;
}

/* Nav bar height (padding) and text decorations for nav links */
nav a {
  padding: 30px 20px;
  display: block;
  color: white;
  font-size: 1.3em;
}

/* makes active page underlined in nav bar */
nav a.active {
  text-decoration: underline;
}

/* This helps with layout of the navbar */
nav .aImages {
  padding: 15px;
}

/* This is styling for deactivated icons meaning these Era/Age trivia questions are excluded */
.iconDeactivated {
  width: 55px;
  height: 55px;
  padding: 10px;
  filter: invert(25%);
}

/* This is styling for the "activated" icon, meaning this is the Era/Age of the trivia questions */
.iconActivated {
  width: 55px;
  height: 55px;
  padding: 10px;
  transform: scale(-1, 1);

}

/* This helps keep the flow of the nav bar from collapsing by calling out the final icon specifically */
.lastIcon {
  margin-right: auto;
}

/* This targets H1 and P tags, centers, and colors in white. Standard bootstrap fonts for now */
h1, p {
  color: white;
  text-align: center;
  display: inline-block;
  width: 100%;
}

/* P tags recieve some extra size and space */
p {
  font-size: 1.4em;
  line-height: 1.8em;
}

/* The main "logo" of the home screen */
h1 {
  font-family: futura, sans-serif;
  font-weight: 300;
  font-size: 6em;
  padding: 50px;
  margin: 0;
}

/* This is the title font on sub-pages */
h2 {
  color: white;
  text-align: center;
  display: inline-block;
  width: 100%;
  font-family: futura, sans-serif;
  font-weight: 300;
  font-size: 4em;
  padding: 50px;
  margin: 0;
}

/* By and large, this is everything contained between the nav bar and footer bar, provides styling and functionality */
.mainGame {
  width: 60%;
  height: 60%;
  min-width: 800px;
  max-width: 900px;
  margin: auto;
  animation: fadein 2s;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0px 0px 8px black);
}

/* Helps hide and reveal elements */
.hidden {
  display: none;
}

#roundDigit, #scoreDigit {
  font-family: futura, sans-serif;
  font-size: 1.9em;
  text-decoration: underline;
}

/* This provides styling for every button on screen */
button {
  font-size: 1.3em;
  font-weight: 400;
  color: white;
  background-color: transparent;
  margin: 40px;
  padding: 7px 30px;
  border: 1px solid white;
  align-items: center;
  justify-content: center;
}

/* This styling helps make list of sources legible */
.mySources {
  font-size: 1.35em;
  text-decoration: underline;
}

/* This adds the bottom footer bar */
footer {
  padding: 20px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 1.3em;
  background-color: rgba(0,0,0,1);
  padding-bottom: 20px;
}

/* This targets footer details */
.footerText {
  font-size: .8em;
}

/* This adjusts link text size to better fit overall design */
.footerText a {
  font-size: 1.2em;
}

/* Animations for loading content with support for almost all browsers */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
