/* This sets up the background image, transparency, and centers. JS randomly loads an image, but keeping this in case JS is disabled or stops working*/
#backgroundImage {
  background: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0, 0.4)), url("../images/backgrounds/Background2.jpg"), center center no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 0;
}


/* Sets Navbar to 100%, colors black. Padding from A tags define height */
nav {
  width: 100%;
  background-color: rgba(0,0,0,1);
}

/* sets up flexbox, removes bullet points for nav UL */
nav ul {
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  list-style: none;
  margin: 0;
}

/* Nav bar height (padding) and text decorations for nav links */
nav a {
  padding: 30px 20px;
  display: block;
  color: white;
  font-size: 1.3em;
}

/* makes active page underlined in nav bar */
nav a.active {
  text-decoration: underline;
}

nav .aImages {
  padding: 15px;
}


/* icon styles */
.iconDeactivated {
  width: 55px;
  height: 55px;
  padding: 10px;
  filter: invert(40%);


}
.iconActivated {
  width: 55px;
  height: 55px;
  padding: 10px;
  transform: scale(-1, 1);

}

.lastIcon {
  margin-right: auto;
}



/* This targets H1 and P tags, centers, and colors in white. Standard bootstrap fonts for now */
h1, p {
  color: white;
  text-align: center;
  display: inline-block;
  width: 100%;
}

p {
  font-size: 1.4em;
  line-height: 1.8em;
}

h1 {
  font-size: 6em;
  padding: 50px;
  margin: 0;
}

.mainGame {
  width: 60%;
  min-width: 700px;
  margin: auto;
  animation: fadein 2s;
}


/* This adds the bottom footer bar */
footer {
  padding: 20px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 1.3em;
  background-color: black;
  padding-bottom: 20px;
}

/* This targets footer details */
.footerText {
  font-size: .8em;
}

/* This adjusts link text size to better fit overall design */
.footerText a {
  font-size: 1em;
}


/* Animations for loading content with support for almost all browsers */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
